*{
    margin: 0;
    padding: 0;
    border: 0;
}

.margin {
    margin: 0% 0;
}

.parallax{
  
    background: url("https://uploaddeimagens.com.br/images/003/913/887/full/5.jpg?1656009009");
    background-attachment: fixed;
    background-size: 1950px 800px;
    

}

.parallax-inner{
    padding-top: 17%;
    padding-bottom: 17%;
   
}

.parallax2{
    background: url("https://uploaddeimagens.com.br/images/003/913/842/full/nossahistoriamaneira.jpg?1656008367");
    background-attachment: fixed;
    background-size: 1350px 800px;
    border-radius: 42px 42px 45px 45px / 45px 45px 42px 42px;
}

.margin2{
    margin: 5% 0;
}

.parallax2-inner{
    padding-top: -0.1%;
    padding-bottom: 0.1%;
    
}

h1{
    text-align: center;
    font-size: 500%;
    color: #E0E0E0;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px black;
   
    
}

.h1-historia{
    text-align: center;
    font-size: 500%;
    color: #E0E0E0;
    letter-spacing: 3px;
}

.paragrafo {
   color: white;
}

h5 {
    text-align: center;
}

.carousel-caption{
    margin-bottom: 100px;
    
}

.carousel-h5{
    color: white;
}

.container-historia{
    margin-left: 290px;
    margin-right: 290px;
    
    
}
.p-historia{
    text-align: justify;

}



.p-convenio{
    text-align: center;
  

}


.parallax3{
    background: url("https://uploaddeimagens.com.br/images/003/914/030/full/a.jpg?1656011589");
    background-attachment: fixed;
    background-size: 1350px 800px;
    border-radius: 42px 42px 45px 45px / 45px 45px 42px 42px;


}

.margin3{
    margin: 5% 0;
}

.parallax3-inner{
    padding-top: -0.1%;
    padding-bottom: 0.1%;
    
}

.parallax4{
    background: url("https://uploaddeimagens.com.br/images/003/913/842/full/nossahistoriamaneira.jpg?1656008367");
    background-attachment: fixed;
    background-size: 1950px 900px;
    
}

.parallax4-inner{
    padding-top: -0.1%;
    padding-bottom: -100px;
    
}
